# Default ignored files
/.idea.sample/.idea/workspace.xml
/.idea.sample/.idea/dictionaries/alexandererygin.xml
/.idea.sample/.idea/contentModel.xml
/.idea.sample/.idea/encodings.xml
/.idea.sample/.idea/indexLayout.xml
/.idea.sample/.idea/modules.xml
/.idea.sample/.idea/projectSettingsUpdater.xml
/.idea.sample/riderModule.iml
/.idea.sample/.idea/sqldialects.xml
/.idea.sample/.idea/vcs.xml
