<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\Variables.wxi?>
    <Fragment>
        <ComponentGroup Id="MyGroup">
            <Component Id="cmpE3D5047740BF4B22A2DF26BFF98345F7" Directory="INSTALLFOLDER" Guid="FC7B2043-A106-48B8-BD93-8508D57D2CC0">
                <File Id="fil6BFAA292E466CAB2C2CA2AB22533CD4B" KeyPath="yes" Source="$(var.SourcesDir)\CONSOLEAPP.CRG" />
            </Component>
            <Component Id="cmpDE56883BBEE274E35EDAE1207DCCDD2E" Directory="INSTALLFOLDER" Guid="0EBD2056-1769-4029-A32C-D36C196EECB6">
                <File Id="fil4F2253009E4A20596F2C556D0F559268" KeyPath="yes" Source="$(var.SourcesDir)\ConsoleApp.exe" />
            </Component>
            <Component Id="cmp3EFF531781FF827836F756CB972A1CAC" Directory="INSTALLFOLDER" Guid="76E03C3D-88D3-45E7-85E8-B66ABBEB25FA">
                <File Id="fil8A28752FFBBC3117CB883A968E3799A0" KeyPath="yes" Source="$(var.SourcesDir)\ConsoleApp.exe.config" />
            </Component>
            <Component Id="cmp22094383B4345DF3213899EF4889FA88" Directory="INSTALLFOLDER" Guid="9CBE9EC3-39A2-4ED8-85AF-01CD1DE64201">
                <File Id="fil63D0E81321FB499DA5EBC969FB49D493" KeyPath="yes" Source="$(var.SourcesDir)\crgtools.dll" />
            </Component>
            <Component Id="cmp552273875319DC66BB25E8D51007CFA7" Directory="INSTALLFOLDER" Guid="EADA0279-E82E-4731-B9CA-EC593055ABEA">
                <File Id="fil515EAFBA64000A2E34886B9E74011C04" KeyPath="yes" Source="$(var.SourcesDir)\crgtools64.dll" />
            </Component>
            <Component Id="cmp18A2990E0DCCF8DA9A432241071E16BE" Directory="INSTALLFOLDER" Guid="CDBC1780-3717-450B-863C-32DBAE9741E7">
                <File Id="fil07EE932ADE6DAEC71E618DD9C96D9BCA" KeyPath="yes" Source="$(var.SourcesDir)\Infotecs.RedAlert.dll" />
            </Component>
            <Component Id="cmp3929A6F9C151BEF982F481B3E5FE1D4E" Directory="INSTALLFOLDER" Guid="1BC74ACF-7524-46ED-8F1F-BC0DFD7FC3FC">
                <File Id="fil88F1938BEA96B8CAE3602971F207B109" KeyPath="yes" Source="$(var.SourcesDir)\LIST.CRG" />
            </Component>
            <Component Id="cmpE3F4E3181FD124FCB0580D6DCBFA05E7" Directory="INSTALLFOLDER" Guid="F75AB44B-E85E-4B28-A667-014B5EAFF93B">
                <File Id="filDDD18980949721489CD751C0F6E6B02C" KeyPath="yes" Source="$(var.SourcesDir)\List.prg" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>