<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ..\Variables.wxi?>
    <Fragment>
        <ComponentGroup Id="MyGroup">
            <Component Id="cmpDE56883BBEE274E35EDAE1207DCCDD2E" Directory="INSTALLFOLDER" Guid="FDA70EC7-4572-4996-A162-A12F70D67239">
                <File Id="fil4F2253009E4A20596F2C556D0F559268" KeyPath="yes" Source="$(var.SourcesDir)\ConsoleApp.exe" />
            </Component>
            <Component Id="cmp3EFF531781FF827836F756CB972A1CAC" Directory="INSTALLFOLDER" Guid="7AA3E9D4-FE02-461D-9568-E7260F42FA8C">
                <File Id="fil8A28752FFBBC3117CB883A968E3799A0" KeyPath="yes" Source="$(var.SourcesDir)\ConsoleApp.exe.config" />
            </Component>
            <Component Id="cmp22094383B4345DF3213899EF4889FA88" Directory="INSTALLFOLDER" Guid="A065954F-12CB-4EBF-A156-03999F6A42E6">
                <File Id="fil63D0E81321FB499DA5EBC969FB49D493" KeyPath="yes" Source="$(var.SourcesDir)\crgtools.dll" />
            </Component>
            <Component Id="cmp552273875319DC66BB25E8D51007CFA7" Directory="INSTALLFOLDER" Guid="4C258456-B0C7-4C60-B6CD-EDA05AC150AD">
                <File Id="fil515EAFBA64000A2E34886B9E74011C04" KeyPath="yes" Source="$(var.SourcesDir)\crgtools64.dll" />
            </Component>
            <Component Id="cmp18A2990E0DCCF8DA9A432241071E16BE" Directory="INSTALLFOLDER" Guid="C4651B37-5B28-4DBA-9F0B-60D70743B307">
                <File Id="fil07EE932ADE6DAEC71E618DD9C96D9BCA" KeyPath="yes" Source="$(var.SourcesDir)\Infotecs.RedAlert.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>