<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target 
      xsi:type="File" 
      name="file" 
      layout="${longdate} ${message} ${exception:innerFormat=tostring:format=tostring:maxInnerExceptionLevel=30}" 
      fileName="${specialfolder:folder=LocalApplicationData}\\Botva\\Hulio.log"
      archiveFileName="${specialfolder:folder=LocalApplicationData}\\Botva\\hulio{#####}.log"
      archiveAboveSize="10485760"
      archiveNumbering="Sequence"
      maxArchiveFiles="100"
      concurrentWrites="true"
      keepFileOpen="false"
      lineEnding="CRLF"
      encoding="utf-8"/>
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>