<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" >

  <variable name="LogFolder" value="${specialfolder:folder=CommonApplicationData}\EON Systems\The Digital Office Sign In\Logs\" />

  <variable name="Layout"
            value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:upperCase=true} [${callsite:className = true:methodName = false:includeSourcePath = false} ${threadid}] - ${message} ${exception:format=tostring}" />
  <targets>
    <target name="Full" encoding="utf-8" xsi:type="File" layout="${Layout}" fileName="${LogFolder}\Full.txt" keepFileOpen="false"
            archiveAboveSize="100000000" archiveNumbering="Sequence" concurrentWrites="true"
            archiveFileName="${LogFolder}\archives\Full_${shortdate}_{#####}.txt" />
    <target name="Errors" encoding="utf-8" xsi:type="File" layout="${Layout}" fileName="${LogFolder}\Errors.txt" keepFileOpen="false"
            archiveAboveSize="100000000" archiveNumbering="Sequence" concurrentWrites="true"
            archiveFileName="${LogFolder}\archives\Errors_${shortdate}_{#####}.txt" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Full"></logger>
    <logger name="*" minlevel="Error" writeTo="Errors"></logger>
  </rules>
</nlog>