# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.1 - An Introductory Domain Modelling Exercise.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
